.chatCard ~ .chatCard,
.userCard ~ .userCard {
  margin-top: var(--spacing-2);
}

.chatCard,
.userCard {
  background-color: var(--text-bold-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-6) var(--spacing-3);
  width: 100%;
  display: flex;
  position: relative;
}

.chatCard {
  cursor: pointer;
}

.userCard {
  padding: var(--spacing-3) var(--spacing-3);
  align-items: center;
}

.userCard--disabled {
  opacity: 0.5;
}

.chatCard:hover:not(.chatCard--active) {
  opacity: 0.6;
}

.chatCard--active {
  background-color: var(--primary-color);
}

.chatCard__content,
.userCard__content {
  color: var(--white-color);
  flex-grow: 1;
  margin-left: var(--spacing-3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chatCard__name,
.chatCard__last-message,
.userCard__name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.chatCard__name,
.userCard__name {
  font-weight: var(--font-weight-medium);
}

.chatCard__name {
  margin-top: var(--spacing-2);
}

.chatCard__last-message {
  font-weight: var(--font-weight-light);
}

.chatCard__options-wrapper,
.chatCard__time {
  color: var(--white-color);
  position: absolute;
}

.chatCard__options-wrapper,
.userCard__options-wrapper {
  color: var(--white-color);
  font-size: var(--font-size-3);
  cursor: pointer;
  padding: var(--spacing-2);
}

.chatCard__options-wrapper {
  top: 0;
  right: 0;
  padding: var(--spacing-1) var(--spacing-2) var(--spacing-2);
}

.chatCard__options-wrapper:hover,
.userCard__options-wrapper:hover {
  opacity: 0.5;
}

.chatCard__time {
  font-weight: var(--font-weight-light);
  opacity: 0.8;
  font-size: calc((var(--font-size-7) + var(--font-size-6)) / 2);
  bottom: 0;
  right: 0;
  padding: 0 var(--spacing-2);
}

/* user card light theme  */
.userCard.userCard--white {
  background-color: var(--white-color);
  padding: var(--spacing-1) 0;
}

.userCard.userCard--white ~ .userCard.userCard--white {
  margin-top: 0;
}

.userCard--white .userCard__content,
.userCard--white .userCard__options-wrapper {
  color: var(--text-color);
}

.userCard--checkbox {
  cursor: pointer;
}

.userCard--checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: var(--white-color);
  border: 1.5px solid var(--text-color);
  width: var(--font-size-4);
  height: var(--font-size-4);
  display: grid;
  place-content: center;
}

.userCard--checkbox input[type="checkbox"]::before {
  content: "";
  width: calc(var(--font-size-4) - 1.5px);
  height: calc(var(--font-size-4) - 1.5px);
  border-radius: var(--border-radius);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-light-color);
}

.userCard--checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.useCard--checkbox--disabled {
  opacity: 0.6;
  cursor: default;
}

.useCard--checkbox--disabled input[type="checkbox"] {
  cursor: default;
}

.useCard--checkbox--disabled input[type="checkbox"]:hover {
  opacity: 1;
}

/* loading  */
.loading.userCard__name {
  width: 100%;
  overflow: hidden;
  color: transparent;
}

.chatCard__name.loading {
  width: 50%;
  overflow: hidden;
  color: transparent;
}

.chatCard__last-message.loading {
  width: 70%;
  overflow: hidden;
  color: transparent;
}

.chatCard__time.loading {
  width: 30%;
  overflow: hidden;
  color: transparent;
}
