.content {
  margin: var(--spacing-content);
  border-radius: var(--border-radius);
  transition: all 3s ease;
}

/* small panel */
.smallPanel {
  width: var(--content-width-small);
  height: calc(100% - 2 * var(--spacing-content));
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.smallPanelLeft-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.smallPanelLeft-header-info p {
  color: var(--white-color);
}

.smallPanel-content {
  flex-grow: 1;
  padding: var(--spacing-2) var(--spacing-3);

  overflow-y: auto;
}

.smallPanel--white {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}

.smallPanel--right {
  margin-left: auto;
}

.smallPanel--left {
  margin-right: auto;
}

/* small panel header   */
.smallPanel-header {
  padding: var(--spacing-1) 0;
  text-align: center;
  background-color: var(--background-color);
  font-weight: var(--font-weight-medium);
  line-height: 50px;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--border-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  position: relative;
}

.smallPanel-header__icon {
  position: absolute;
  right: var(--spacing-2);
  top: 50%;
  transform: translateY(-50%);
}

/* small panel menu item  */
.smallPanel-menu-item {
  padding: var(--spacing-4) 0;
  border-top: 1px solid var(--border-color);
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
  cursor: pointer;
}

.smallPanel-menu-item:hover {
  color: var(--primary-light-color);
}

.smallPanel-menu-item--icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallPanel-menu-item--icon * {
  cursor: pointer;
}

.smallPanel-menu-item--icon:hover * {
  color: var(--primary-light-color);
}

.smallPanel-menu-item__icon {
  color: var(--text-light-color);
}

/* big panel  */
.bigPanelMiddle {
  flex-grow: 1;
  overflow: auto;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

/* loading  */
.loading--right-panel.loading,
.loading--right-panel .loading {
  width: 80%;
  color: transparent;
  line-height: 2.4rem;
  overflow: hidden;
}
