.content {
  margin: var(--spacing-content);
  border-radius: var(--border-radius);
  transition: all 3s ease;
}

.content ~ .content {
  margin-left: 0;
}

/* small panel */
.smallPanel {
  width: var(--content-width-small);
  height: calc(100% - 2 * var(--spacing-content));
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.smallPanelLeft-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.smallPanelLeft-header-info p {
  color: var(--white-color);
}

.smallPanel-content {
  flex-grow: 1;
  overflow-y: auto;
}

.smallPanel--white {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}

/* small panel header   */
.smallPanel-header {
  padding: var(--spacing-1) 0;
  text-align: center;
  background-color: var(--background-color);
  font-weight: var(--font-weight-medium);
  line-height: 50px;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--border-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/* small panel content  */
.smallPanel-content {
  padding: var(--spacing-2) var(--spacing-3);
}

/* big panel  */
.bigPanelMiddle {
  flex-grow: 1;
  overflow: auto;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

/* loading  */
.loading--right-panel.loading,
.loading--right-panel .loading {
  width: 80%;
  color: transparent;
  line-height: 2.4rem;
  overflow: hidden;
}
